.form-control {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
}

.form-control input {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #aab7b8;
  outline: none;
  font-family: inherit;
  font-size: 14px;
}

.form-control input:focus {
  border: 1px solid #7fb3d5;
}
